.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .containerBox {
    border: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;

    .containerBoxText {
      font-size: 18px;
      margin: 10px 0;
      color: #333
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    width: max-content
  }
}

.button {
  padding: 2px;
  margin: 5px;
  background-color: #ec644c;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;

  .buttonText {
    font-size: 18px;
    margin: 10px 0;
    color: #fffffe;
    align-self: center
  }
}
