:root {
  --background-color: #f7f8fa;
  --color-text: #black;
}

.App {
  position: fixed;
  background: var(--background-color);
  width: 100vw;
  height: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

text {
  color: var(--color-text);
}

.Content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: relative;
  width: 355px;
  height: 170px;

  .headerBg {
    relative-id: 1;
    width: 100%;
    height: 100%;
  }

  .headerIconBg {
    relative-id: 2;
    width: 114px;
    height: 140px;
    margin-right: 20px;
    relative-align-right: parent;
  }

  .headerIcon {
    relative-id: 4;
    width: 88px;
    height: 88px;
    /*relative-align-right: 2;*/
    margin: 13px;
    relative-align-left: 2;
    relative-align-bottom: 2;
  }

  .headerText {
    relative-id: 3;
    relative-align-left: parent;
    relative-center: vertical;
    margin-left: 26px;
    margin-bottom: 16px;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 24px;
    text-align: left;
    font-style: normal;
  }
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-self: start;
  margin-left: 20px;

  .title {
    font-size: 18px;
    color: #1B2A42;
    line-height: 24px;
    text-align: left;
    font-style: normal;
  }

  .titleFlag, .titleTotal {
    font-size: 14px;
    color: #1B2A42;
    line-height: 24px;
    text-align: left;
    font-style: normal;
  }

  .titleProgress {
    font-size: 14px;
    color: deepskyblue;
    line-height: 24px;
    text-align: left;
    font-style: normal;
  }
}

.list {
  flex: 1;
  margin-left: 12px;
  margin-right: 12px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  list-main-axis-gap: 12px;
  list-cross-axis-gap: 5px;
}
